*{
    margin: 0;
    box-sizing: border-box;
   
}

.navbar-logo-name{
    width: 50%;
    display: flex;
    gap: 40px;
    font-size: 1rem;
    font-weight: 700;
    justify-content:center;
    align-items: center;
    
}
.g{
    color: #ff42a5;
}
.navbar-icons{
    display: flex;
    width: 250px;
    height: 2.95rem;
    font-weight: 200;
    background-color: rgba(11, 2, 35, 0.119);
    border-radius: 7px;
    padding-left: 10px;
    align-items: center;

    text-align: center;
    gap: 20px;
    justify-content: center;

}
.navbar-icons p{
    margin-top: 25px;
    /* background-color: #fff; */
}
.fa-brands{
    font-size: 30px;

}
.utb{
    border-style: none;
    background: transparent;
}
.tiktok{
    border-style: none;
    background: transparent;
}
.navbar-right-side{
    width: 40%;
    display: flex;
    font-weight: 500;
    font-size: 1.25rem;
    align-items: center;
    justify-content: space-around;
    /* align-content: center; */
   
}
header{
    margin-top: 50px;
    height: 50px;
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    /* justify-items: center; */
}
header button{
    background: transparent;
    border-style: none;
}
/* header ends here */


/* banner starts here  */

.fa-circle-play ,
.fa-download{
    background: transparent;
    font-size: 20px;
    color: #ff42a5;
}
.fa-user-group{
    background-color: black;
    color: rgb(238, 235, 235);
}

/* banner starts here  */



.banner-container{
    display: flex;
    height: 100vh;
    width: 98vw;
    margin-top: 50px;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* border: 2px solid rgb(230, 20, 230); */
}
.banner-container img{
    height: 100%;
    width: 95%;
    /* border: 2px solid violet; */
}

.banner-text{
   
    align-items: center;
    height:50vh;
    width: 100%;
    align-items: center;
    /* padding: 50px; */
    /* align-content: center; */
   /* justify-content: center; */
   /* justify-items: center;/ */
    /* border: 2px solid rebeccapurple; */
    
}
.banner-text h1 , h2 ,p{
    margin-bottom: 20px;
}
.goat{
    font-weight: 900;
    font-size: 4rem;
    background-image: linear-gradient(to bottom,rgba(255, 0, 0, 0.537)  ,rebeccapurple);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-text-container{
    background-image: url(images/Group\ 14.png);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 90%;
    width: 55%;
    /* border: 2px solid green; */
  
}
.btn-primary{
    color:white;
    background-color: #FF42A5;
    padding: 21px 40px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 600;
}
.btn-secondary{
    color: white;
    background-color: #42a5ff;
    padding: 21px 40px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 600;
}

/* banner section ends here */